@using Fred.Web.Shared.App_LocalResources
@model Fred.Web.Models.Authentification.NewPasswordViewModel

@{
  ViewBag.Title = @Authentification.Authentification_Connect_TitreOnglet;
  Layout = "~/Views/Shared/_NoLayout.new.cshtml";
}

@section scripts {
  @Scripts.Render("~/ViewsAuthenticationConnectBundle.js")
}
<link href="~/Content/Auth.css" rel="stylesheet">

<div class="page"
     ng-style="{'background-image':'url({{ctrl.loginImage}})'}"
     ng-controller="newPasswordController as ctrl">

    @if (Html.ViewData.Model != null && Html.ViewData.Model.GuidIsValid && !Html.ViewData.Model.GuidIsExpired)
    {
    <div class="new-password" id="new-password">
      <div class="authentication">
        <div class="logo-fred"></div>
        <div class="block-new-password" id="block-new-password">
          @using (Html.BeginForm("NewPassword", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
          {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Guid)

            @Html.HiddenFor(m => m.GuidIsValid)

          <div>
            <label>@Authentification.Authentification_NewPassword_Password</label>
            @Html.PasswordFor(m => m.Password, new { @placeholder = Authentification.Authentification_NewPassword_Password_Placeholder })
            <p>@Authentification.Authentification_NewPassword_Password_Length</p>
          </div>

            <div>
              <label>@Authentification.Authentification_NewPassword_PasswordVerify</label>
              @Html.PasswordFor(m => m.PasswordVerify, new { @placeholder = Authentification.Authentification_NewPassword_PasswordVerify_Placeholder })
            </div>

            <div class="pad-top-5">
              <p>@Authentification.Authentification_NewPassword_Required</p>
            </div>

            if (Html.ViewData.Model != null && Html.ViewData.Model.Message != null && Html.ViewData.Model.Message != string.Empty)
            {
              if (Html.ViewData.Model.Success)
              {
                <div class="success">
                  @Html.ViewData.Model.Message
                </div>
              }
              else
              {
                <div class="error">
                  @Html.ViewData.Model.Message
                </div>
              }
            }

            <div class="button">
              <input type="submit" value="@Authentification.Authentification_NewPassword_UpdatePassword" />
            </div>

            if (Html.ViewData.Model != null && Html.ViewData.Model.Success)
            {
              <div class="button">
                <a class="return" href="/"><span class="fa fa-arrow-left"></span> @Authentification.Authentification_ResetPassword_ReturnConnect </a>
              </div>
            }
          }

        </div>
      </div>
    </div>
    }
    else
    {
      if (Html.ViewData.Model != null && !Html.ViewData.Model.GuidIsValid) {
    <div class="new-password-error" id="new-password-error">
      <h1>@Authentification.Authentification_NewPassword_Error</h1>
      <h4>@Authentification.Authentification_NewPassword_GuidIsNotValid</h4>
    </div>
      }

      if (Html.ViewData.Model != null && Html.ViewData.Model.GuidIsExpired) {
    <div class="new-password-error" id="new-password-error">
      <h1>@Authentification.Authentification_NewPassword_Error</h1>
      <h4>@Authentification.Authentification_NewPassword_GuidIsExpired</h4>
    </div>
      }
    }

</div>


<div class="footer">
  @Authentification.Authentification_PiedDePage

  <img class="cp-logo" src="~/medias/images/logo/FAYAT-IT-FAYAT-GROUP-PNv.jpg" alt="logo fayat IT">

</div>