@using Fred.Web.Shared.App_LocalResources
@model Fred.Web.Models.Authentification.ResetPasswordViewModel

@{
  ViewBag.Title = @Authentification.Authentification_Connect_TitreOnglet;
  Layout = "~/Views/Shared/_NoLayout.new.cshtml";
}

@section scripts {
  @Scripts.Render("~/ViewsAuthenticationConnectBundle.js")
}
<link href="~/Content/Auth.css" rel="stylesheet">

<div class="page"
     ng-style="{'background-image':'url({{ctrl.loginImage}})'}"
     ng-controller="resetPasswordController as ctrl">

  <div class="reset-password" id="reset-password">
    <div class="authentication">
      <div class="logo-fred"></div>
      <div class="block-reset-password" id="block-reset-password">
        @using (Html.BeginForm("ResetPassword", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
          @Html.AntiForgeryToken()

          @Html.HiddenFor(m => m.Url)

          <div>
            <label>@Authentification.Authentification_ResetPassword_Identifiant</label>
            @Html.TextBoxFor(m => m.UserName, new { @placeholder = Authentification.Authentification_ResetPassword_Identifiant_Placeholder, ng_model = "ctrl.username", ng_change = "ctrl.ResetEmail()" })
          </div>

          <div>
            <label class="text-center marg-bot-neg-10">@Authentification.Authentification_ResetPassword_Ou</label>
          </div>

          <div>
            <label>@Authentification.Authentification_ResetPassword_Email</label>
            @Html.TextBoxFor(m => m.Email, new { type = "email", @placeholder = Authentification.Authentification_ResetPassword_Email_Placeholder, ng_model = "ctrl.email", ng_change = "ctrl.ResetIdentifiant()" })
          </div>

          if (Html.ViewData.Model != null && Html.ViewData.Model.Message != string.Empty)
          {
            if (Html.ViewData.Model.Success)
            {
              <div class="success">
                @Html.ViewData.Model.Message
              </div>
            }
            else
            {
              <div class="error">
                @Html.ViewData.Model.Message
              </div>
            }
          }

          <div class="button">
            <input type="submit" value="@Authentification.Authentification_ResetPassword_Bouton_ResetPassword" />
          </div>

          <div class="button">
            <a class="return" href="/"><span class="fa fa-arrow-left"></span> @Authentification.Authentification_ResetPassword_ReturnConnect </a>
          </div>

        }

      </div>
    </div>
  </div>

</div>


<div class="footer">
  @Authentification.Authentification_PiedDePage

  <img class="cp-logo" src="~/medias/images/logo/FAYAT-IT-FAYAT-GROUP-PNv.jpg" alt="logo fayat IT">

</div>